body {
  margin: 10px;
  padding: 20px;
  background: #eee;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 70%;
  margin: auto;
}

.container-empty {
  width: 90%;
  max-width: 700px;
  margin: auto;
  display: none;
}

nav {
  background: #fff;
  padding: 12px;
  box-shadow: 0px 0px 10px 0px #3f51b5;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
}

nav .title {
  float: left;
  font-weight: bold;
  color: #3f51b5;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}
nav .input {
  float: right;
  padding: 10px;
  border: 1px solid #3f51b5;
  border-radius: 9000px;
  width: 55%;
  font-size: 20px;
}

nav::after {
  content: "x";
  font-size: 0;
  opacity: 0;
  clear: both;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
.contents {
  /* margin: auto;
      width: 50%; */
  margin-top: 70px;
  /* height: 10000px; */
}

.result-item {
  padding: 8px 18px 5px 18px;
  background: #fff;
  margin-bottom: 7px;
  border-radius: 6px;
  border: 1px solid #d8d8d8;
  cursor: pointer;
  transition: box-shadow, transform ease-in-out 0.3s;
  text-transform: capitalize;
}

.result-item:active {
  transform: scale(1.1);
}

.result-item:hover {
  box-shadow: 0px 12px 5px -10px #3f51b5;
  border-color: #3f51b5;
}

.result-item h2 {
  margin: 0;
  padding: 0px;
  color: #3f51b5;
  font-family: sans-serif;
  padding-bottom: 3px;
  font-size: 29px;
}
.result-item section {
  border-top: 1px solid #eee;
  padding: 5px 0;
}
.result-p {
  padding-top: 30px;
}

.no-data {
  text-align: center;
  padding-top: 22px;
}
.no-data h1 {
  font-family: sans-serif;
  font-size: 49px;
  color: #9e9e9e;
}
.hidden {
  display: none;
}
.modal-container {
  position: fixed;
  padding-top: 10px;
  top: 0;
  background: #4156b54d;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.modal-body {
  text-transform: capitalize;
  overflow: auto;
  height: 89%;
}
.modal {
  text-transform: capitalize;
  position: fixed;
  margin: auto;
  height: 90%;
  top: 12px;
  left: 0;
  right: 0;
  z-index: 9999;
  max-width: 625px;
  background: #fff;
  box-shadow: 7px 9px 14px -4px #01106170;
}

.title-modal {
  background: #3f51b5;
  padding: 13px;
  color: #fff;
}

.title-modal span {
  font-family: sans-serif;
  font-size: 27px;
}
.title-modal button {
  float: right;
  font-size: 20px;
  padding: 2px 9px;
  font-weight: bold;
  background: #d30606;
  color: #fff;
  border: none;
}

.modal-contents label {
  font-size: x-large;
}

.title-modal button:hover {
  background: red;
}

.modal-contents {
  padding: 13px;
}

.modal-contents h3 {
  margin: 0;
  margin-top: 3px;
  padding: 0;
  font-size: 20px;
  font-weight: 900;
}

.highlited {
  background: #ffe606;
  text-decoration: none;
}

.list-nodata {
  text-align: left;
  width: auto;
  margin: auto;
  padding-top: 19px;
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}
